@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap'); 
/* font-family: 'Zeyada', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); 
/* font-family: 'Shadows Into Light', cursive; */

* {
    padding: 0;
}

body {text-align: center;
    margin: 0;
    background-color: rgb(210, 235, 248);
    font-family: 'Shadows Into Light', cursive;

}


hr{
    width: 100px;
    margin: 80px auto;
    border: dotted #2bc4ad 6px;
    border-bottom: none;

}

/************************* Top *******************************/

.top {
    padding-top: 0px;
    position: relative;

}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;

}

.bottom-cloud{
    position: absolute;
    left: 250px;
 
}

.top h1{
    font-size: 100px;
    font-family: 'Zeyada', cursive;

}

.top h2 {
    font-size: 60px;

}


/************************* Middle *******************************/


li {
    margin-top: 20px;
    
}

.profile p{
    font-size: 40px;
}
.btn {
    background: #11ddd4;
    background-image: -webkit-linear-gradient(top, #11ddd4, #11999e);
    background-image: -moz-linear-gradient(top, #11ddd4, #11999e);
    background-image: -ms-linear-gradient(top, #11ddd4, #11999e);
    background-image: -o-linear-gradient(top, #11ddd4, #11999e);
    background-image: linear-gradient(to bottom, #11ddd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/************************* Bottom *******************************/

.bottom{
    background-color: #66bfbf;
    padding:50px 0 20px;  
    margin-top: 80px;
}

a{
    color:#11999e;
    margin:10px 20px;
    text-decoration: none; 
}

a:hover{
    color: #eaf6f6;
}

.copyright{
   color: #eaf6f6;
   font-size: 0.75rem; 
}